<!--  -->
<!-- The Modal -->
<div class="modal fade show" id="myModal" style="overflow:auto;display: block"  keyboard-event (esc)="onCloseClick($event)">
    <div class="modal-dialog modal-dialog-centered" [ngClass]="modalType">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header" *ngIf="headerPosition" [ngClass]="{'header-body': headerPosition}">
          <ng-content select="[header]"></ng-content>
        </div>
        <div class="modal-header" *ngIf="!headerPosition">
           <h4 class="modal-title">{{header}}</h4>
           <ng-content select="[header]"></ng-content>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body"  [ngClass]="{'header-body': headerPosition}">
           <ng-content select="[body]"></ng-content>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer"  [ngClass]="{'footer-align': headerPosition}">
           <ng-content select="[footer]"></ng-content>
        </div>
  
      </div>
    </div>
  </div>
  
  
  <div class="modal-backdrop fade show"></div>
  