.backdrop {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  
  #popup {
    background-color: white;
    min-height: 300px;
    max-height: calc(100vh - 100px);
    border-radius: 4px;
    position: relative;
    width: 700px;
    max-width: calc(100vw - 40px) !important;
    /*overflow-y: auto;*/
  }
  .modal-title {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.6);
    font-family: proximanova-regular;
  }
  .btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: black;
    opacity: 0.8;
    cursor: pointer;
  }
  .modal-footer {
    border-top: none;
    background-color: #f3f6f9;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-right-radius: 19px;
    border-top-left-radius: 19px;
  }
  .btn-close:hover {
    opacity: 1;
  }
  .modal-content {
    border-radius: 10px;
    margin: 5px;
    padding: 0;
    border: 0;
    border-radius: 12px !important;
    box-shadow: 0 30px 74px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: white;
  }
  .modal-header {
    border-bottom: none !important;
  }
  .body {
    padding: 20px;
    /* max-height: calc(100vh - 110px); */
    overflow-y: auto;
    /* overflow-y: scroll; */
  }
  .footer {
    text-align: right;
    padding: 0px 20px 20px 20px;
  }
  button {
    outline: 0px;
  }
  @media (max-width: 330px) {
    .footer {
      text-align: right;
      padding: 0px 5px 10px 0px;
    }
  }
  
  @media (max-width: 440px) {
    #popup {
      margin-top: 10px;
    }
  }
  
  .modal-backdrop{
    -webkit-backdrop-filter: blur(2px) !important;
    backdrop-filter: blur(2px) !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
  }
  
  .modal-backdrop.show{
   opacity: 0.9 !important;
  }
  
  .header-body{
    padding: 2rem 2rem 0;
  }
  
  .footer-align{
    padding: 1.5rem;
  }