@import '../../../../../assets/css/variables';
    .intl-tel-input .flag-container{
        height: 40px !important;
    }
    .login_register_pass_demo_img .terms-links a{
        color: #fff;
    }
    body{
        background: #fff !important;
    }
    #imgDiv{
        padding: 0;
    }
    .custom_register_btn-primary{
        border-radius: 12px !important;
        height: 50px !important;
        margin-bottom: 18px;
        padding: 0 25px;
        border-radius: 4px;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        background-color: $color-primary;
        font-family: $productsans-regular;
        border-color: $color-primary;
    }
    @media screen and (min-width: 1200px){
        /* .custom_register_row {
            padding: 10px 100px 0 !important;
        } */
    }
    .map-overlay-bg{
        content: "";
        background-image: url('/assets/images/background-logo.png');
        position: absolute;
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        @media screen and (min-width: 1025px){
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
    }
    .tookan_logo_modify {
        color: #fff;
        padding-top: 25px;
        padding-left: 20px;
        position: relative;
    }
    .custom_register_row,
    .custom_register_span{
        color: #949098 ;
        font-size: 15px;
    }
    .custom_register_row label{
        font-size: 12px !important;
        font-weight: 600;
        letter-spacing: 1.2px;
        color: #7f8388 ;
        // text-transform: uppercase;
    }
    .custom_register_row .custom_register_form-control{
        font-size: 15px !important;
        color: #272727;
        padding: 0 10px;     
        letter-spacing: 1.2px;
    }
    .signup_logo_img{
        max-height: 80px !important;
        margin: 18px 10px 0 10px !important;
    }
    .white-label-logo-height.signup_logo_img{
        max-height: 55px !important;
    }
    .login_register_pass_demo_img{
        background-image: url('/assets/images/map-backdots.png');
        background-size: cover;
        background-position: right;
    }
    .custom_register_row .custom_register_h1 {
        font-size: 26px !important;
        color: #505050 ;
    }
    .frame-img:before, .frame_before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .ele-ht {
        height: 100%;
    }
    .ele-ht-wd {
        height: 100% !important;
        width: 100% !important;
    }
    .pos-rel {
        position: relative;
    }
    .custom_register_form-control, input[type="text"] {	
        /* height: 40px !important; */	
        height: 45px !important;	
        // border: 1px solid #BBBBBB !important;	
        border-radius: 3px;    
        font-size: 16px;	
    }
    @media screen and (max-width: 1094px) {

        .tookan_logo_modify{
            padding-left: 0px !important;
        }
    }
    @media screen and (max-width: 426px) {
        .login_register_pass_demo_img {
            display: none !important;
        }
    }
    @media (max-width:767px) and (orientation: landscape){
        div.login_register_pass_demo_img{
            display:none !important;

        }
    }
    label{
        font-weight: normal;
    }
    .login_via_weedmaps_btn-primary{
        width: 380px !important;
        background-color: #00CDBE;
        height:60px !important;
        margin-bottom: 18px;
        margin-top: 15%;
        padding: 0 30px;
        padding-left: 15px;
        min-width: 150px;
        font-size: 16px;
        color: white;
    }
    .login_via_weedmaps_btn-primary:hover{
        background-color: rgb(28,207,201);

    }
    .login_via_weedmaps_img{
       height: 45px;
       
       
    }
    @media (max-width: 768px) {
        .login_via_weedmaps_btn-primary{
        width: 250px !important;
        font-size: 12px;
        padding-right:5px;
        padding-left: 5px;
       
    }
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        .login_via_weedmaps_btn-primary{
        width: 350px !important;
        
    }
    }
    @media (max-width: 768px) {
        .login_via_weedmaps_img{
            height: 30px;
           
         }
    }
    .weedmap_logo{
        margin-top: 30%!important;
    }
    .connect_with_weedmap_text{
        padding-right: 0px; word-spacing:2px;padding-left: 30px;letter-spacing: 0.5px;
    }
    @media (max-width: 768px) {
        .connect_with_weedmap_text{
           padding-left: 20px;
        }
    }
     #loginForm{
        width: 440px;
        margin: auto;
        padding-bottom: 15px;
        max-width: 100%;
        @media screen and (max-width:500px) {
            width: 400px;
        }
        @media screen and (max-width:390px) {
            width: 350px;
        }
    }
    .custom_register_row{
        padding: 0 !important;
    }
    .input-container::after{
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        top: 12px;
        left: 12px;
    } 
    .input-container:not(.input-img-phone) input{
        padding-left: 20px;
        padding-right: 30px;
    }
    .custom_register_h1{
        text-align: center;
        margin: 20px 0px;
        margin-top:30px;
    }
    .custom_register_btn-primary:disabled{
        pointer-events: none;
    }
    .custom_register_btn-primary:not(:disabled):hover{
        background-color: white;
        box-shadow: none;
        color: $color-primary;
    }
    .remove-padding{
        padding:0;
    }
    .parsley-errors-list li{
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #d41616;
    }
    .input-img-password input{
            padding-right: 30px!important;
    }
    input.error, input.error:focus{
        border: solid 2px #ed3535!important;
    }
    #showPassword{
        display: block;
        position: absolute;
        top: 11px;
        right: 5px;
        height: 20px;
    }
    @media (min-width: 768px){
        /* tablets */
        .brand_poweredby{
            text-align: right;
            float: right;
        }
        .powered-by{
            float: none;
        }
        .signup_logo_img{
            margin: 0;
        }
        #imgDiv{
            // background-image: url('/assets/images/signup-bg-2.svg');
            /* background-position: bottom center; */
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0 calc(100vh - 32vh);
            height: 100%;
        }
        .jw-logo {
            float: right;
            height: 19px;
        }

    }
    .social-btn{
        .img{
          display: inline-block;
          // border-right: 1px solid white;
          padding-right: 10px;
          margin-right: 6px;
      
        }
        background: white;
        border: 1px solid #bbbbbb;
        border-radius: 3px;
        color: #bbbbbb;
        font-size:15px;
        width: 210px;
      }
      .social-login{
        width: 440px;
        margin: auto;
        padding-bottom: 15px;
        max-width: 100%;
      }
      .w-50{
        width: 50%;
    }
    .ml-15{
        margin-left: 15px;
    }

    
    @media screen and (min-width: 1025px){
        .map-overlay-bg{
            background-image: url('/assets/images/bitmap-copy.png');
        }
    }

    .login-account-heading{
        font-size: 36px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #404040;
        text-align: inherit;
        font-family: $productsans-regular;
    }

    .back-image{
        background-image: url('/assets/images/login-background.svg');
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    .loginClass{
        padding: 0 !important;
        height: 830px;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55%;
        border-radius: 20px;
        margin-right: 20px;
        @media screen and (max-width:970px) {
            padding: 0 !important;
            height: 100% !important;
            float: right;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 0;
            margin-right: 0;
        }
        
    }

    .custom_register_form-control{
        border-radius: 12px !important;
        border: solid 1px #edf3f6 !important;
        background-color: #f0f8fb !important;
        font-family: $productsans-regular !important;
    }

    .forgot-password{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #404040;
        font-family: $productsans-regular !important;
    }

    .remember-me{
        margin-left: 10px;
        padding-top: 2px;
    }


    .display{
        display: block;
    }

    @media screen and (min-width: 971px){
        // .mrn-top-xxlg {
        //     margin-top: 50px !important;
        // }
        .display{
            display: none;
        }
    }
    
    .filled{
        background-color: #ffffff !important;
    }

    .custom_register_form-control:not(.error):focus, input.form-control:not(.error):focus{
        border: 2px solid #2296ff !important;
        box-shadow: 0 0 0 0.2rem transparent !important;
    }
    #showPassword{
        display: block;
        position: absolute;
        top: 11px;
        right: 5px;
        height: 20px;
    }
    #showPassword #eye-icon{
        fill: #999;
    }
    #showPassword #eye-icon.selected{
        fill: $color-primary!important;
    }
    #showPassword:hover #eye-icon{
        fill: $color-primary;
    }
    
    .error-msg{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: red;
        font-family: $productsans-regular !important;
    }