// radio button as checkbox
@import '../css/variables.scss';

.menu-box {
  display: inline-block;
  position: relative;
  cursor: pointer;
  .menu-list {
    justify-content: center;
    position: absolute;
    border: 1px solid $color-gray;
    z-index: 5;
    background: $color-white;
    width: 115px;
    margin-top: 4px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    box-shadow: 0 6px 12px $color-gray;
    display: none;
    text-align: center;
    min-width: 110px;
    right: 0;
    left: auto;
    top: 100%;
    margin: 2px 0 0;
    font-size: 14px;
    background-clip: padding-box;
    border-radius: 4px;
    li{
      cursor: pointer;
      color: $color-black;
      a{
        color: $color-black;
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px;
        height: 35px;
        border-left: 3px solid transparent;
        line-height: 1; 
        clear: both;
        font-weight: 400;
        white-space: normal;
        font-size: 14px;
        font-family: $productsans-regular;
        i{
          float: right;
        } 
        i.yf{
          font-size: px;
        }      
        &:hover{
          color: $color-blue;
          border-left: 3px solid $color-blue;
          font-family: $productsans-regular;
        }
      } 
    }
  }
  &:hover .menu-list {
    display: block;
  }
}
    
.menu-list {
  &::before{
    content: " ";
    border: 9px solid transparent;
    position: absolute;
    bottom: 100%;
    border-bottom: 7px solid $color-gray;
    right: 2px;
  }
  &::after{
    content: " ";
    border: 9px solid transparent;
    position: absolute;
    bottom: 100%;
    border-bottom: 7px solid transparent;
    right: 0;
    width: 100%;
  }
  &::hover{
    border-left: 3px solid $color-blue;
  }
}
